@import url('https://fonts.cdnfonts.com/css/starjedi-special-edition');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --principal: #ebdc1e;
    --second: #282B30;
}


body {
    background: var(--second);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    color: #fff;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    margin: 25px;
    font-size: 34px;
    font-family: 'Star Jedi', sans-serif;
    color: var(--principal);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    text-wrap: nowrap;
    text-decoration: none;
}

#search-form {
    display: flex;
}

.search-input, .search-button {
    min-width: 100px;
    min-height: 30px;
    outline: none;
    border: none;
}

.search-input {
    color: var(--second);
    border-radius: 0.4rem 0 0 0.4rem;
}

.search-button {
    background: #666fff;
    color: #fff;
    border: 1px solid white;
    border-radius: 0 0.4rem 0.4rem 0;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.search-button:hover {
    background: #0073e6;
}

.search-input::placeholder {
    padding: 5px;
}

.aviso {
    max-width: 750px;
    margin: 50px auto;
    text-align: center;
    text-align: center;
    text-wrap: wrap;
}

.container-characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.character-card {
    min-width: 200px;
    max-width: 200px;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    min-width: 200px;
    max-width: 200px;
    text-align: center;
    text-wrap: nowrap;
}

.character-image {
    width: 100%;
    height: 250px;
    border-radius: 5px 5px 0 0;
}

p {
    color: var(--principal);
    text-wrap: wrap;
}

strong {
    color: #fff;
}

.buttons {
    text-align: center;
}

#previous-button, #next-button {
    background-color: var(--principal);  
    color: var(--second);
    min-width: 100px;  
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    cursor: pointer;
    margin: 5px 5px 20px 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#previous-button:hover,
#next-button:hover {
    background-color: var(--second);  
    color: var(--principal);  
}

@media screen and (max-width: 512px) {
    .header {
        margin-bottom: 20px;
        flex-wrap: wrap;
    }
}